amqp==2.2.2
billiard==3.5.0.3
celery==4.1.0
certifi==2018.1.18
chardet==3.0.4
docopt==0.6.2
idna==2.6
ipython==6.2.1
ipython-genutils==0.2.0
jedi==0.11.1
jsonschema==2.6.0
jupyter-core==4.4.0
kombu==4.1.0
mosestokenizer==1.0.0
numpy==1.14.0
openfile==0.0.6
parso==0.1.1
pexpect==4.3.1
pickleshare==0.7.4
pkg-resources==0.0.0
prompt-toolkit==1.0.15
ptyprocess==0.5.2
pycld2==0.31
Pygments==2.2.0
PyYAML==3.12
regex==2018.1.10
scikit-learn==0.19.1
scipy==1.0.0
simplegeneric==0.8.1
tabulate==0.8.2
toolwrapper==0.3.0
traitlets==4.3.2
urllib3==1.22
vine==1.1.4
wcwidth==0.1.7
